.signIn {
  display: flex;
  flex-flow: nowrap column;
  width: 420px;
  padding: 33px 36px 25px;

  h1 {
    margin-bottom: 27px;
    text-align: center;
  }

  //input[type='email'] {
  //  margin-bottom: 24px;
  //}
  //
  //input[type='password'] {
  //  margin-bottom: 19px;
  //}
  //
  //button[type='submit'] {
  //  margin-bottom: 20px;
  //}
}

.form {
  margin-bottom: 20px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;

  margin-bottom: 66px;

  & a {
    align-self: flex-end;
  }
}

//.forgotPasswordBox {
//align-self: flex-end;

//justify-items: flex-end;

//display: flex;
//flex-direction: column;
//margin-bottom: 66px;
//padding-right: 13px;
//text-align: end;

//a {
//  align-self: flex-end;
//}
//}
