.checkbox {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 12px;
  align-items: center;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: var(--color-dark-900);
  border: 2px solid var(--color-light-900);
  border-radius: 2px;

  &[data-state='checked'] {
    background-color: var(--color-light-100);
    border: 2px solid var(--color-light-100);
  }
}

.indicator {
  font-size: 12px;
  font-weight: 900;
  color: var(--color-dark-900);
}

.label {
  user-select: none;
  padding-top: 2px;

  & * {
    cursor: pointer;
  }
}
