.SelectTrigger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;

  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.SelectContent {
  position: absolute;
  z-index: 1000;

  overflow: hidden;

  width: 100%;
  margin-top: 4px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.SelectViewport {
  overflow-y: auto;
}

.SelectItem {
  padding: 8px;
  color: var(--color-light-100);
  background-color: var(--color-dark-900);
  border-bottom: 1px solid #eee;

  &:hover {
    cursor: pointer;
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
  }
}
