.searchInputWrapper {
  position: relative;
  margin-bottom: 24px;
  color: var(--color-dark-300);
}

.searchIcon {
  position: absolute;
  z-index: 5;
  top: 8px;
  left: 12px;
}

.searchPadding {
  & input {
    padding: 6px 12px 6px 40px;
  }
}

.disabled {
  color: var(--color-dark-300);
}

.closeIcon {
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 12px;

  color: var(--color-light-100);
}
