.box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.label {
  cursor: pointer;

  & p {
    color: var(--color-dark-100);
  }

  &:disabled {
    color: var(--color-dark-300);
  }
}

.inputWrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 20%;
  left: 12px;
}

.input {
  width: 100%;
  padding: 6px 12px;

  font-family: inherit;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: inherit;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:disabled {
    &::placeholder {
      color: var(--color-dark-300);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:not(:disabled) {
    &:hover {
      background-color: var(--color-dark-700);
      border: 1px solid var(--color-dark-100);
    }
  }

  &:not(:disabled) {
    &:active {
      color: var(--color-light-100);
      border: 1px solid var(--color-light-100);
      outline: none;
    }
  }
}

.eyePadding {
  padding: 6px 34px 6px 12px;
}

.searchPadding {
  padding: 6px 12px 6px 40px;
}

.eyeIcon {
  position: absolute;
  top: 25%;
  right: 12px;
  color: var(--color-light-100);
}

.error {
  color: var(--color-danger-300);
  border: 1px solid var(--color-danger-300);

  &::placeholder {
    color: var(--color-danger-300);
  }
}

.errorText {
  color: var(--color-danger-300);
}

.disabled {
  color: var(--color-dark-300);
}
