.blockWrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: end;
  justify-content: space-between;

  margin-bottom: 36px;
}

.searchInput {
  flex: 0 0 270px;
}

.tabsBox {
  flex: 0 0 250px;
}

.sliderBox {
  flex: 0 0 150px;
}
