.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}

.thead {
  background-color: var(--color-dark-500);
}

.tr {
  border-right: 1px solid var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-500);
  border-left: 1px solid var(--color-dark-500);

  &:hover {
    background-color: var(--color-dark-700);
  }
}

.th,
.td {
  min-width: 100px;
  padding: 12px 20px;
}

.th {
  &:hover {
    background-color: var(--color-dark-500);
  }
}
