.table {
  border-collapse: collapse;
}

.thead {
  background-color: var(--color-dark-500);
}

.tr {
  border-right: 1px solid var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-500);
  border-left: 1px solid var(--color-dark-500);
}

.th {
  padding: 12px 25px;
  text-align: start;
}

.td {
  width: 100%;
  max-width: 400px;
  padding: 12px 25px;
  text-align: start;
}
