.headerWrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  padding: 12px var(--header-inline-padding);

  background-color: var(--color-dark-700);
}

.img {
  height: calc(var(--header-height) - 10px);
  object-fit: cover;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;

  & p {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}
