.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 12px 136px;

  background-color: var(--color-dark-700);
}

.img {
  height: 50px;
  object-fit: cover;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;

  & p {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}
