.listHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 15px;
}

.titleBox{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}