.deckImg {
  aspect-ratio: 1.5;
  width: 170px;
  margin-bottom: 25px;

  object-fit: cover;
  border-radius: 2px;
}

.searchInput {
  margin-bottom: 24px;
}

.filterErrorPage {
  text-align: center;
}
