.editProfile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 33px 86px;

  h1 {
    margin-bottom: 27px;
  }
}

.imageContainer {
  position: relative;

  img {
    aspect-ratio: 1;
    width: 96px;
    object-fit: cover;
    border-radius: 50%;
  }

  button {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 24px;
    height: 24px;
    padding-top: 2px;

    background-color: var(--color-dark-300);
    border-radius: 4px;
  }
}
