.table {
  background-color: red;
}

.thead {
  background-color: green;
}

.tbody {
  background-color: antiquewhite;
}

.tr {
  background-color: brown;
}

.th {
  background-color: palevioletred;
}

.td {
  background-color: gold;
}
